<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <!-- Include header.ejs -->
    <%- include('../views/header') %>

        <div class="container">
            <br /><br />
            <h2>Update Existing Employee</h2>
            <br />
            <form method="post" action="/employees/employee-update/<%= employee._id %>">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee Id</label>
                    <input type="text" class="form-control" name="_id" value="<%= employee._id %>" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" name="name" value="<%= employee.name %>" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee Address</label>
                    <input type="text" class="form-control" name="address" value="<%= employee.address %>" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee Position</label>
                    <input type="text" class="form-control" name="position" value="<%= employee.position %>" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee Salary</label>
                    <input type="text" class="form-control" name="salary" value="<%= employee.salary %>" />
                </div>

                <a href="/employees" class="btn btn-secondary">Go Back</a>
                <button type="submit" class="btn btn-primary">Update Employee</button>

            </form>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>